/*
!.gitignore
!/bin
!/bin/*
!/src
!/src/*
!/include
!/include/*
!/lib
!/lib/*
!/tool_lib
!/tool_lib/*
!/config
!/config/*
!/docs
!/docs/*
!/fig
!/fig/*
!/models
!/models/*
!.gitmodules
!README.org
!CMakeLists.txt
!CMakeFunctions.txt
!CMakeConfig.txt
!Doxyfile
!todo.org
!/.dir-locals.el
!/README.md
!/.clang-format
!/.github
!/.github/*
!/LICENSE
!/CONTRIBUTING.md

